@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  min-height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  /* position: relative; */
}

@media (max-width: 500px) {
  body {
    flex-direction: column;
  }

  html {
    font-size: 45%;
  }
}

input,
button {
  font-family: 'Nunito', sans-serif;
}

/* LAYOUT */
main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

@media (max-width: 500px) {
  main {
    flex-direction: column;
    margin-top: 8rem;
    width: 80vw;
    height: 65%;
  }
}

.players {
  position: relative;
  width: 40rem;
  height: 35rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 500px) {
  .players {
    width: 80vw;
    height: 27vh;
    gap: 0.7rem;
  }
}

.players h3 {
  font-size: 2.4rem;
}

.players input[type="text"] {
  width: 80%;
  height: 5rem;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 0 2rem;
  font-size: 2rem;
}

.save {
  width: 60%;
  margin-top: 2rem;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  height: 5rem;
  color: #444;
  background: rgba(255, 255, 255, 0.6);
  font-size: 2rem;
  transition: 0.3s;
}

.save:hover {
  transform: scale(1.04);
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

@media (max-width: 500px) {
  .player {
    padding: 6rem;
  }
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}

.player--active .name {
  font-weight: 700;
}

.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #c7365f;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

@media (max-width: 500px) {
  .current {
    width: 60%;
    padding: 1.3rem;
  }

  .current-label {
    font-size: 2.2rem;
    margin-bottom: 0.7rem;
  }

  .current-score {
    font-size: 3.8rem;
  }
}

/* ABSOLUTE POSITIONED ELEMENTS */
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

@media(max-width: 500px) {
  .btn::first-letter {
    font-size: 2rem;
    margin-right: 0.5rem;
  }
}


.btn--new {
  top: 4rem;
}

.btn--roll {
  top: 39.3rem;
}

.btn--hold {
  top: 46.1rem;
}

@media (max-width: 500px) {
  .btn--new {
    top: 0.5rem;
  }

  .btn--roll {
    top: 50%;
    transform: translate(-140%, -50%);
    font-size: 1.5rem;
    padding: 0.5rem 1.4rem;
    /* left: 10rem; */
  }

  .btn--roll::first-letter {
    font-size: 1.8rem;
  }

  .btn--hold {
    top: 50%;
    font-size: 1.5rem;
    padding: 0.5rem 1.4rem;
    transform: translate(40%, -50%);
    width: 14rem;
  }

  .btn--hold::first-letter {
    font-size: 1.8rem;
  }
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 500px) {
  .dice {
    top: 37.3rem;
    height: 7rem;
  }
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

@media (max-width: 500px) {
  .overlay {
    height: 84%;
    width: 100%;
    top: 0%;
  }
}

.guide {
  position: absolute;
  width: 145rem;
  height: 60rem;
  background-image: linear-gradient(to top left, #753682 20%, #bf2e34 80%);
  opacity: 0.95;
  border-radius: 9px;
  z-index: 20;
  padding: 3rem;
}

@media (max-width: 500px) {
  .guide {
    width: 100%;
    height: 79%;
    top: 6.5%;
    padding: 1.4rem;
  }
}

.guide h3 span {
  font-size: 3rem;
  color: white;
}

.guide h3 {
  font-size: 2.2rem;
  text-align: center;
  color: #333;
  margin-top: 4rem;
}

.guide h4 {
  text-align: center;
  font-size: 1.8rem;
  margin-top: 3rem;
  color: #2f2f2f;
}

.guide h4 span {
  font-size: 2.2rem;
  text-transform: uppercase;
  color: white;
}

.guide .rules {
  margin-top: 17rem;
  padding-left: 10rem;
  padding-right: 3rem;
  font-size: 2.2rem;
}

@media (max-width: 500px) {
  .guide .rules {
    padding-left: 4rem;
    margin-top: 19rem;
  }
}

.guide .rules span {
  color: white;
}

.guide .start {
  display: flex;
  margin-top: 5rem;
  margin-left: 30rem;
}

@media (max-width: 500px) {
  .guide .start {
    margin-left: 15rem;
    margin-top: 1rem;
    text-align: center;
    width: 125px;
  }
}

.rules {
  position: absolute;
  top: 2rem;
  right: 2rem;
}